/*
===========================
Author: Labi Francis
Email: moodyblerd@gmail.com
===========================
*/

* {
    box-sizing: border-box;
}
body {
    background-color: gray;
    height: 100%;

}

.container {
    background-color: bisque;
    width: auto;
    align-self: auto;
    margin: 10px;
    float: center;
    border-radius: 20px;

}
header {
    float: right;

}
ul {
list-style-type: none;
padding: 0px;
margin: 20px;
left: 0;
top: 5%;
text-align: center;
font-size: 0.6rem;
color: #ffffff;
cursor: pointer;
transition:  0.3s;


}
li {
display: block;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
background-color: rgba(238, 232, 232, 0.692);
padding: 10px;
border-radius: 5px;
float: left;
width: 100%;
}
li a{
    text-decoration-line: none;
}
li:hover {
    background-color:grey;
    border: 5px,black,solid;

}
.about {
    background-color:rgba(238, 232, 232, 0.692);
    width: auto;
    color: black;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}
h1 {
    text-align: center;
}
.services {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color:rgba(238, 232, 232, 0.692);
    
}
.contact {
    margin: 20px;
    padding: 10px;
    background-color:rgba(238, 232, 232, 0.692);
    border-radius: 20px;
    clear: both;
}
.clearfix{
    overflow: auto;
}
footer{
    background-color: black;
    color: white;
    height: 50px;;
    border-bottom-radius: 20px;
}
.serv {
    float: left;
    width: 30%;
    padding: 20px;
    margin: 20px;
    min-width: 300px;
    background-color: rgba(238, 232, 232, 0.692);

}

h2 {
    text-align: center;
}

.img1 {
    width: 150px;
    height: 75px;
    float: left;
    margin: 10px;
}
@media only screen and (min-width: 600px) {
    /* For desktop: */
    li{
    display: inline;
    margin: 10px;
    width: auto;
   } 
   ul {
       display: inline;
   }
}
   