/*
===========================
Author: Labi Francis
Email: moodyblerd@gmail.com
===========================
*/

* {
    box-sizing: border-box;
}
body {
    background-color: gray;
    width: auto;
    height: auto;

}

.container {
    background-color: bisque;
    width: auto;
    align-self: auto;
    margin: 10px;
    float: center;
    border-radius: 20px;

}
header {
    float: right;

}
ul {
width: 700px;
list-style-type: none;
padding: 0px;
margin: 20px;
float: center;
margin-left: 300px;

}
li {
display: inline;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
background-color: rgba(238, 232, 232, 0.692);
padding: 10px;
border-radius: 5px;
}
li a{
    text-decoration-line: none;
}
li:hover {
    background-color:grey;
    border: 5px,black,solid;

}
.about {
    background-color:rgba(238, 232, 232, 0.692);
    width: auto;
    color: black;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}
h1 {
    text-align: center;
}
.services {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color:rgba(238, 232, 232, 0.692);
}
.contact {
    margin: 20px;
    padding: 10px;
    background-color:rgba(238, 232, 232, 0.692);
    border-radius: 20px;
    clear: both;
}
.clearfix{
    overflow: auto;
}
footer{
    background-color: black;
    color: white;
    height: 50px;;
    border-bottom-radius: 20px;
}
.serv {
    float: left;
    width: 350px;
    padding: 20px;
    margin: 50px;
    background-color: rgba(238, 232, 232, 0.692);
}

h2 {
    text-align: center;
}

.img1 {
    width: 150px;
    height: 75px;
    float: left;
    margin: 10px;
}